extends ../layout/main

block title 
  | Home

block main
  .container-fluid
      .row
        .col
          include ../modules/header
      .row
        .col
          include ../modules/content
      .row
        .col
          include ../modules/footer
